.positivo {
    font-style: none;
    #texto__sass{
        background-color: map-get($map: vars, $key:color );
    

    }
    #boton__sass{
        list-style: none;
        &hover{
            color: black;
        }
        text-decoration: none;
    }

    #boton__estudio
    {
        @extend #boton__sass;
    }
}