@import "button";
@import "vars";


*{
    width: 0;
    box-sizing: border-box;
}

.seccion__boton{
    background-color: map-get($map: vars, $key:color );
    text-align: map-get($map: vars, $key:centro );
}