@import "button";
@import "vars";


*{
    width: 0;
    box-sizing: border-box;
}

.seccion__boton{
    background-color: map-get($map: vars, $key:color );
    text-align: map-get($map: vars, $key:centro );
}

.col {
    text-align: center;
  }
  
  .positivo_titulo {
    height: 100px;
    transition: heigth 2s;
  
    &:hover {
      transform: scale(1.2, 1.2);
      height: 200px;
    }
  }
  
  .tarjetas {
    margin: auto;
  }
  
  .contenido {
    background-color: black;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    gap: 10px;
    background-color: rgb(19, 19, 19);
  }
  
  .galeria_item {
    position: relative;
  }
  
  .galeria_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .galeria_item {
    &:nth-child(4) {
      grid-column-start: span 2;
    }
  
    &:nth-child(5) {
      grid-row-start: span 2;
    }
  
    &:nth-child(9) {
      grid-row-start: span 6;
      grid-column-start: span 2;
    }
  
    &:nth-child(8) {
      grid-row-start: span 2;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      grid-template-columns: repeat(4, 1fr);
    }
  
    .galeria_item {
      &:nth-child(4) {
        grid-column-start: span 1;
      }
  
      &:nth-child(9) {
        grid-row-start: span 1;
        grid-column-start: span 1;
      }
  
      &:nth-child(7) {
        grid-row-start: span 2;
        grid-column-start: span 1;
      }
    }
  }
  
  @media (min-width: 1024px) {
    .container {
      grid-template-columns: repeat(5, 1fr);
      width: 90%;
      margin: auto;
    }
  
    .galeria_item {
      &:nth-child(1) {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
      }
  
      &:nth-child(2) {
        grid-column: 3 / 5;
        grid-row: 1 / span 1;
      }
  
      &:nth-child(3) {
        grid-column: 5 / 6;
        grid-row-start: span 1;
      }
  
      &:nth-child(4) {
        grid-column: 4 / span 2;
        grid-row-start: span 1;
      }
  
      &:nth-child(5) {
        grid-column: 1 / span 3;
        grid-row: 2 / span 2;
      }
  
      &:nth-child(6) {
        grid-column: 1 / 2;
        grid-row-start: 4;
      }
  
      &:nth-child(7) {
        grid-column: 2 / 3;
        grid-row-start: 4;
      }
  
      &:nth-child(8) {
        grid-column: 3 / 4;
        grid-row-start: 4;
      }
  
      &:nth-child(9) {
        grid-column: 4 / 6;
        grid-row: 3 / 5;
      }
    }
  }